<h2>Cocktail Rechner</h2>
<p>Hier können Sie Ihre Cocktails berechnen.</p>
<div style="display: flex; align-items: flex-start;">
    <table id="cocktail-table">
        <thead>
            <tr>
                <th>Cocktail</th>
                <th>Anzahl</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="add-row">
                <td colspan="3" style="text-align: right;">
                    <button id="add-row-button">+</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="shopping-list">
    <h3>Einkaufsliste</h3>
    <ul id="shopping-list-items">
        <!-- Shopping list items will be populated by JavaScript -->
    </ul>
</div>
<script src="js/calculator.js"></script>