body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #68aad3;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #e8491d;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    background: #68aad3;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
}

.tab.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tab-content {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

#add-row-button, .delete-row-button {
    height: 30px;
    width: 30px;
}